.top_menu_white {
	font-family: arial;
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
}
.top_menu_black {
	font-family: arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.leftmenu_heading {
	font-family: arial;
	font-size: 11px;
	color: #E16425;
	font-weight: bold;
	text-decoration: none;
}
.leftmenu {
	font-family: arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	line-height: 15px;
}
.artikkel_tekst {
	font-family: arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.artikkel_header {
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.artikkel_liste_dato_tid {
	font-family: arial;
	font-size: 11px;
	color: #292A65;
	font-weight: bold;
	text-decoration: none;
}
.artikkel_liste_title {
	font-family: arial;
	font-size: 11px;
	color: #5161AC;
	text-decoration: underline;
}
.artikkel_bottomtekst {
	font-family: arial;
	font-size: 11px;
	color: #626262;
	text-decoration: none;
}
.artikkel_bottomlink {
	font-family: arial;
	font-size: 11px;
	color: #475E93;
	text-decoration: none;
}
.forside_portaltekst {
	font-family: arial;
	font-size: 11px;
	color: #E16425;
	font-weight: bold;
	text-decoration: none;
}
.forside_sistenytt {
	font-family: arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.forside_mobil {
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.forside_scanpixebildetekst {
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.bedriftorg_boxtext {
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

body {
	scrollbar-face-color : #D1D5E3 ;
	scrollbar-shadow-color : #899CC7 ;
	scrollbar-highlight-color : #D1D5E3 ;
	scrollbar-3dlight-color : #D1D5E3 ;
	scrollbar-darkshadow-color : #ffffff ;
	scrollbar-track-color : #F6F6F6 ;
	scrollbar-arrow-color : #E16425 ;
	scrollbar-width: 5px;

    FONT-WEIGHT: normal;
    COLOR: #003366;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: Myriad, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    TEXT-DECORATION: none
}

.viewHeadline
{
    FONT-WEIGHT: bold;
    FONT-SIZE: small;
    MARGIN-BOTTOM: 10px
}

.viewDate
{
    FONT-SIZE: xx-small;
    MARGIN-BOTTOM: 10px
}

.viewIngress
{
    MARGIN-TOP: 7px;
    FONT-WEIGHT: bold;
    FONT-SIZE: x-small;
    MARGIN-BOTTOM: 5px
}

.viewHl2
{
    MARGIN-TOP: 8px;
    FONT-WEIGHT: bold;
    FONT-SIZE: x-small;
    FONT-STYLE: italic;
    FONT-VARIANT: normal
}

.viewEdMsg
{
    FONT-SIZE: xx-small;
    MARGIN-BOTTOM: 5px;
    COLOR: #d33366
}
.viewTagline
{
    MARGIN-TOP: 10px;
    FONT-SIZE: xx-small;
    MARGIN-BOTTOM: 5px;
    FONT-STYLE: italic
}
.viewByline
{
    FONT-SIZE: x-small;
    FONT-STYLE: italic
}

.viewTable
{
    FONT-WEIGHT: normal;
    FONT-SIZE: x-small;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: Myriad, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    TEXT-DECORATION: none
}
.viewTableHead
{
    FONT-WEIGHT: normal;
    FONT-SIZE: xx-small;
    LINE-HEIGHT: normal;
    FONT-STYLE: italic;
    FONT-FAMILY: Myriad, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    TEXT-DECORATION: none
}
.viewNews
{
    FONT-WEIGHT: normal;
    FONT-SIZE: x-small;
    LINE-HEIGHT: normal;
    PADDING-TOP: 8px;
    FONT-STYLE: normal;
    FONT-FAMILY: Myriad, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    TEXT-DECORATION: none
}
.viewIndent
{
    FONT-WEIGHT: normal;
    FONT-SIZE: x-small;
    TEXT-INDENT: 20px;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: Myriad, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    TEXT-DECORATION: none
}
.formbutton
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: Myriad, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    TEXT-DECORATION: none
}
.news11
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #003366;
    LINE-HEIGHT: 12px;
    FONT-STYLE: normal;
    FONT-FAMILY: Myriad, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    TEXT-DECORATION: none
}
